In [17]:
#Deep Bagul 
#Proble,_Statement --  TITANIC SURVIVAL PREDICTION

#Use the Titanic dataset to build a model that predicts whether a
#passenger on the Titanic survived or not. This is a classic beginner
#project with readily available data.
#about individual passengers, such as their age, gender, ticket
#class, fare, cabin, and whether or not they survived.

In [62]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

In [63]:
titanic_data = pd.read_csv('C:\\Users\\Deep\\Downloads\\tested.csv')

In [64]:
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [65]:
print(titanic_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [66]:
print(titanic_data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

In [67]:
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)

In [68]:
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)

In [69]:
titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'], drop_first=True)

In [70]:

features = ['Pclass', 'Age', 'Sex_male', 'SibSp', 'Parch', 'Fare', 'Embarked_Q', 'Embarked_S']
X = titanic_data[features]
y = titanic_data['Survived']

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [72]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [73]:
print("Max Scaled Fare:", X_train_scaled[:, features.index('Fare')].max())
print("Any NaN in Scaled Fare?", pd.DataFrame(X_train_scaled).isnull().any())

Max Scaled Fare: nan
Any NaN in Scaled Fare? 0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [74]:
model = RandomForestClassifier(random_state=42)

In [75]:
import numpy as np

nan_indices = np.isnan(X_train_scaled)
inf_indices = np.isinf(X_train_scaled)

print("NaN count:", np.sum(nan_indices))
print("Infinity count:", np.sum(inf_indices))

NaN count: 1
Infinity count: 0

In [76]:
X_train_scaled[nan_indices] = np.nanmedian(X_train_scaled)
X_train_scaled[inf_indices] = np.nanmedian(X_train_scaled)

In [77]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [78]:
max_values = X_train.max(axis=0)
print("Max values:", max_values)

Max values: Pclass          3.0000
Age            76.0000
Sex_male        1.0000
SibSp           8.0000
Parch           9.0000
Fare          512.3292
Embarked_Q      1.0000
Embarked_S      1.0000
dtype: float64

In [79]:
model = RandomForestClassifier(random_state=42)

In [80]:
print("NaN count in y_train:", y_train.isnull().sum())
print("Infinity count in y_train:", np.isinf(y_train).sum())

NaN count in y_train: 0
Infinity count in y_train: 0

In [81]:
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0   7.8292   NaN         1           1           0
1   7.0000   NaN         0           0           1
2   9.6875   NaN         1           1           0
3   8.6625   NaN         1           0           1
4  12.2875   NaN         0           0           1

In [82]:
titanic_data['Cabin'].fillna(0, inplace=True)

In [83]:
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0   7.8292     0         1           1           0
1   7.0000     0         0           0           1
2   9.6875     0         1           1           0
3   8.6625     0         1           0           1
4  12.2875     0         0           0           1

In [84]:
nan_indices = np.isnan(X_train_scaled)
inf_indices = np.isinf(X_train_scaled)

print("NaN count:", np.sum(nan_indices))
print("Infinity count:", np.sum(inf_indices))

NaN count: 1
Infinity count: 0

In [85]:
X_train_scaled[nan_indices] = np.nanmedian(X_train_scaled)
X_train_scaled[inf_indices] = np.nanmedian(X_train_scaled)

In [86]:
print("Data types:", X_train_scaled.dtype)

Data types: float64

In [87]:
max_values = np.max(X_train_scaled, axis=0)
print("Max values:", max_values)

Max values: [0.86587998 3.57606513 0.73911859 7.98251817 9.18641221 8.20149968
 2.79096286 0.74883086]

In [88]:
model.fit(X_train_scaled, y_train)

RandomForestClassifier(random_state=42)

In [89]:
from sklearn.metrics import accuracy_score, classification_report
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:\n", report)

Accuracy: 0.5952380952380952
Classification Report:
               precision    recall  f1-score   support

           0       0.60      1.00      0.75        50
           1       0.00      0.00      0.00        34

    accuracy                           0.60        84
   macro avg       0.30      0.50      0.37        84
weighted avg       0.35      0.60      0.44        84

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))